{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Welcome!</h2>
<p class="text-center">Explore Computer Vision Concepts with Hands on Implementation.</p>

<hr>

<h4 class="text-center mt-4">Select a Module to Get Started:</h4>

<div class="d-grid gap-3 col-6 mx-auto my-5">
  <a href="/module1" class="btn btn-dark btn-lg">Module 1 – Getting Started with Images</a>
  <a href="/module2" class="btn btn-dark btn-lg">Module 2 – Arithmetic & Thresholding</a>
  <a href="/module3" class="btn btn-dark btn-lg">Module 3 – Histograms & Segmentation</a>
</div>
{% endblock %}
