{% extends "base.html" %}
{% block content %}
<h3>Module 3: Histograms and Color Segmentation</h3>
<form method="POST" enctype="multipart/form-data">
  <input type="file" name="image" required class="form-control my-2">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="segment"> Green Color Segmentation
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="histogram"> Show Histogram
  </div>
  <button class="btn btn-primary mt-2" type="submit">Process</button>
</form>
{% if image_data %}
<hr>
<h4>Result Image:</h4>
<img src="data:image/jpeg;base64,{{ image_data }}" class="img-fluid" />
{% endif %}
{% if hist_data %}
<hr>
<h4>Color Histogram:</h4>
<img src="data:image/jpeg;base64,{{ hist_data }}" class="img-fluid" />
{% endif %}
{% endblock %}
